<div class="row mt-2">
  <div class="col">
    <h1><%= @recipe.name %></h1>
  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <p class="lead"><%= @recipe.description %></p>
  </div>
</div>

<div class="row mt-2">
  <div class="col-5">
    <h3>Ingredients</h3>
    <ul class="list-group list-group-flush">
      <% @recipe.ingredients.each do |element| %>
        <li class="list-group-item"><%= element %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-7">
    <h3>Method</h3>
    <ol>
      <% @recipe.recipe_method.each do |element| %>
        <li><%= element %></li>
      <% end %>
    </ol>
  </div>
</div>